<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>OJ Integrating Website {{#if title}} - {{title}}{{/if}}</title>
       
        <link rel="stylesheet" href="/stylesheets/wp-backgrounds.css" type='text/css' media='all' />
        <link rel='stylesheet' href="/stylesheets/mjCont.css" type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/front.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <link rel='stylesheet' href='/stylesheets/jquery-ui.min.css' type='text/css' media='all' />
        <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
        <script type='text/javascript' src='/bower/jquery/dist/jquery.min.js'></script>
        <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
        <script type='text/javascript' src="/bower/jquery-ui/jquery-ui.min.js"></script> 

        {{#if firstName}}
        <div id="greeting" style="float:right">
          <strong>Hi, {{firstName}}!</strong>
          <a href="/users/logout">Log out</a>
        </div >
        {{else}}
        <div style="float:right">
            <a href="/users/create">Create an Account</a> | 
            <a href="/users/login">Login</a>
        </div>
        {{/if}}
        <a href="/">Back To Main Page</a>

    </head>
    <body class="custom-font-enabled">
        {{{body}}}
    </body>
</html>     