
<div id="sidebar" >
        <fieldset style="height:400px; text-align: center ; margin-bottom: 10px">
            
            <h4 style="margin-top: 30px; margin-bottom: 20px">Select Other Layouts </h4>
            <!-- <select name="layout" id="layout">
                <option value="Force" selected="selected">Force</option>
                <option value="Chord">Chord</option>
            </select> -->
            <a href="/graph/graph/force" style="margin-bottom: 40px;">Galaxy Layout</a>
            <br><br><br>
            <!-- <input class='submitbutton' type="submit" value ='submit'/> -->
            <div style="margin: 0 auto;">
                <label for="slider" style="font-size: 20px; margin-top: 10px;">Adjust the size of the nodes </label>
                <div id="slider" style="margin-top: 10px"></div>
            </div>
        </fieldset>    
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<link href="/stylesheets/force.css" rel="stylesheet" />
{{#if settings.production}}
<script type="text/javascript" src='/js/build/force.min.js?v=2'></script>
{{else}}
<script src="/js/graph/force.js"></script>
{{!--<script src="/js/graph/graph_ui.js"></script>--}}
{{/if}}