
<div id="sidebar" >
        <fieldset style="height:400px; text-align: center ; margin-bottom: 10px">
            
            <h4 style="margin-top: 30px; margin-bottom: 20px"> Select Other Layouts </h4>
            <!-- <select name="layout" id="layout">
                <option value="Force" selected="selected">Force</option>
                <option value="Chord">Chord</option>
            </select> -->
            <a href="/graph/force" style="margin-bottom: 40px;">Force Layouts</a>
            <br><br>
            <p style="margin-bottom:0px auto;">Another layout representation</p>
            <a href="/graph/graph/fruch">Fruchterman Layouts</a>
            <br><br>
            <!-- <input class='submitbutton' type="submit" value ='submit'/> -->
            <div style="margin: 0 auto;">
                <label for="slider" style="font-size: 20px; margin-top: 10px;">Adjust the size of the nodes </label>
                <div id="slider" style="margin-top: 10px"></div>
            </div>
        </fieldset>

    <br><br>
    <h3 style="margin: 0 auto; text-align: center">Question Info</h3>
    <p id="description" style="text-align: center; width: 250px;">
        This is the description of the question
    </p>
  
    <div id="'searchArea" style="text-align: center; margin:0 auto;">
        <label >Search by question title</label>
        <input id='search' type="text" placeholder="search" class="type" />
    </div>
</div>


<link href="/stylesheets/graph.css" rel="stylesheet" />
<script type="text/javascript" src='/bower/typeahead.js/dist/typeahead.jquery.min.js'></script>

{{#if settings.production}}
<script type="text/javascript" src='/js/build/graph.min.js?v=2'></script>
{{else}}
<script type="text/javascript" src='/js/graph/graph_ui.js'></script>
<script src="/js/graph/graph.js"></script>
{{/if}}